{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}} <!-- this is to load Bootstrap styles, so mine is applied after Bootstrap -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <form>
    <label for="taskname">Task Name:</label><br>
    <input type="text" id="taskname"” name="taskname"><br>
    <label for="taskdesc">Task Desc:</label><br>
    <textarea id="taskdesc" name="taskdesc" rows="4" cols=""100"></textarea><br>
    <label for="date">Task Date:</label>
    <input type="date" id="date" name="date"><br>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category"><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
