{% extends "bootstrap/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="alert alert-danger" role="alert">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.name.label }}<br> {{ form.name(class="form-control") }} <br>
        {{ form.description.label }}<br> {{ form.description(class="form-control", rows="4") }}<br> <!-- additional attributes, classes, etc. to be passed in as parameters -->
        {{ form.tdate.label }}<br> {{form.tdate(class="form-control") }}<br>
        {{ form.completed() }} {{ form.completed.label }}
        <input type="submit" value="Create Task">
    </form>
</div>
{% endblock %}
